/************************/
/****** RESET ***********/
/************************/

@import url("reset.min.css");

/************************/
/****** FONTS ***********/
/************************/

@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@400&display=swap");

/************************/
/****** MAIN ************/
/************************/

:root {
  --color-orange: #c0632e;
  --color-orange-light: #e1a583;
  --color-blue: #2eb0c0;
  --color-white: #fff;
  --font-primary: "M PLUS Code Latin", monospace;
  --font-secondary: "Special Elite", sans-serif;
}

body {
  font-family: var(--font-primary);
  font-size: 1.1rem;
  line-height: 1.75rem;
  color: var(--color-orange-light);
  background-color: var(--color-white);
  /* padding: 20px; */
}

main {
  margin: 4rem 2rem 2rem 2rem;
  max-width: 30rem;
}


/************************/
/****** INTRO ***********/
/************************/

#hero {
  display: flex;
  flex-direction: column;
  line-height: 2rem;
  height: 25rem;
  margin-bottom: 1rem;
}

.intro {
  font-family: var(--font-secondary);
  font-size: 1rem;
  color: var(--color-orange);
  margin-bottom: 2rem;
  letter-spacing: 0.13rem;
  line-height: 2rem;
}

.intro > a {
  color: var(--color-blue);
  text-decoration: underline;
}
.intro > a:hover {
  text-decoration: line-through;
  color: var(--color-orange);
}

/************************/
/** HERO IMAGES *********/
/************************/

#hero .heroHome {
  width: 100%;
  height: 100%;
  background-image: url("../img/hero-home.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

#hero .heroAbout {
  width: 100%;
  height: 100%;
  background-image: url("../img/hero-about.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
/*  margin-bottom: 1.5rem;*/
}

/************************/
/****** LISTS ***********/
/************************/

.bloco_de_listas {
  margin-bottom: 1.5rem;
}
.bloco_de_listas a {
  color: var(--color-blue);
  text-decoration: underline;
}
.bloco_de_listas a:hover {
  text-decoration: line-through;
  color: var(--color-orange);
}

.bloco_de_listas h1 {
  font-family: var(--font-secondary);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

/************************/
/****** BOOKS *********/
/************************/

.apresentacao-livro p {
  margin-bottom: 1rem;
}

.apresentacao-livro p a {
  color: var(--color-blue);
  text-decoration: none;
  font-family: var(--font-secondary);
}

.apresentacao-livro p a:hover {
  text-decoration: line-through;
  color: var(--color-orange);
}

/************************/
/**** BOOK READ PAGE ****/
/************************/

.prevButton {
  position: fixed;
  width: 3.125rem;
  height: 3.125rem;
  transform: translateY(-50%);
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: var(--color-orange);
  font-size: 3.5rem;
  cursor: pointer;
  z-index: 1;
}

.nextButton {
  position: fixed;
  width: 3.125rem;
  height: 3.125rem;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  color: var(--color-orange);
  font-size: 3.5rem;
  cursor: pointer;
  z-index: 1;
}

/************************/
/****** ABOUT PAGE ******/
/************************/

article > p:not(:first-child) {
  margin-top: 1.5rem;
}

#information p {
  /*  font-family: var(--font-primary);*/
  margin-bottom: 1rem;
}

#information p a {
  color: var(--color-blue);
  text-decoration: underline;
  /*  font-family: var(--font-primary);*/
}

#information p a:hover {
  text-decoration: line-through;
  color: var(--color-orange);
}

/***********************/
/****** FOOTER *********/
/***********************/

footer {
  border-top: 0.5px solid var(--color-orange-light);
  margin: 2rem 0 0 0;
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
}

footer > p {
  font-size: 0.8rem !important;
  margin-bottom: 0.75rem;
}
footer > p > a {
  color: var(--color-blue);
  text-decoration: underline;
}
footer > p > a:hover {
  text-decoration: line-through;
  color: var(--color-orange);
}
footer .box-icons {
  display: flex;
  gap: 0.5rem;
}

footer .box-icons img {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.4rem;
  background-color: var(--color-blue);
}

footer .box-icons img:hover {
  background-color: var(--color-orange);
}
footer .box-icons a {
  color: var(--color-blue);
  animation-play-state: paused;
}

footer .box-icons a:hover {
  text-decoration: line-through;
  color: var(--color-orange);
  animation: bounceFooterIcons 1s infinite;
}

/* animação de hover no footer */
@keyframes bounceFooterIcons {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(2rem);
  }
  60% {
    transform: translateY(1rem);
  }
}

/****************************/
/****** BANNER IPFS *********/
/****************************/

.ipfs-banner {
  /* display: none; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 1rem;
  margin: 1rem 2rem;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 1rem;
  background-color: var(--color-orange);
  color: var(--color-white);
  text-decoration: none;
}

.ipfs-banner:hover {
  animation: bounceBanner 0.5s;
  background-color: var(--color-blue);
}

@keyframes bounceBanner {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/****************************/
/** FOOTER HOVER EFFECT *****/
/****************************/

/* animação de hover no footer */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(20px);
  }
  60% {
    transform: translateY(10px);
  }
}

/************************/
/****** WEB *************/
/************************/

@media screen and (min-width: 38rem) {
  body {
    padding: 0px;
  }
  h1 {
    margin-bottom: 1rem;
  }
  main {
    margin: 4rem 2rem 0rem 6rem;
    max-width: 30rem;
  }

.intro {
  font-size: 1.2rem;
}

  #hero {
    /*    width: 30rem;*/
    height: 25rem;
    align-items: center;
      margin-bottom: 0;
  }
  #hero .heroHome {
    width: 100%;
    background-image: url("../img/hero-home.gif");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    margin-bottom: 1.5rem;
  }
  .prevButton {
    outline: none;
    top: 40vh;
    left: 10%;
  }
  .nextButton {
    outline: none;
    top: 40vh;
    right: 10%;
  }
  article,
  footer {
    margin-bottom: 2rem;
  }
  footer {
    font-size: 0.8rem;
  }
  .ipfs-banner {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    font-size: 0.8rem;
  }
}

/* tratando o footer para telas com altura menores que 50rem */
/* @media screen and (max-height: 50rem) {
  footer {
    margin: 1rem;
    align-items: start !important;
  }

  footer > p {
    display: none;
  }

  .box-icons {
    flex-direction: column;
  }
} */
